 {% extends 'partials/layout.njk' %}
    {% block content %}
    <a href="/articles/new">add articles</a>
    <h1>articles</h1>
<table>
    <thead>
        <th>id</th>
 <th>title</th>
 <th>body</th>
 <th>actions</th>
 </thead>
<tbody>
    {%for article in articles %}
    <tr>
        <td>1</td>
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.body}}</td>
            <td>
<a href="/articles/edit?id={{ article.id }}">edit<a>
    <a href="/articles/delete?id={{ article.id }}">delete<a>
            </td>
            </tr>
    {% endfor %}
         </tbody>
       </table>
    {%endblock%}