 {% extends 'partials/layout.njk' %}
    {% block content %}
<form action="/articles" method="Post">
<label>
    title
<input type "text" name="title" >
</label>
<label>
    content 
<textarea name="body"></textarea>
</label>
<input type="submit" value="new">
</form>
{%endblock%}







    
 

    
  